.hello {
    margin-top: 20px;
}

.start-entry-button {
    cursor: default;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #3E00E5;
    font-size: 1em;
}

.start-entry-button-link {
    text-decoration: none;
    color: black;
}

.start {
    border-bottom: 1px solid black;
}
