.dashboard-header {
    border-bottom: 2px solid #0088D9;
    margin: auto;
    background-color: #0088D9;
    color: white;
    list-style-type: none;
    height: 75px;
    padding: 0;
}

.dashLogo{
    font-family: 'Libre Baskerville', serif;
    max-width: 50%;
    font-size: 1.5em;
    float: left;
    margin-top: 15px;
    margin-left: 5px;
}

.dashLink {
    display: inline;
    cursor: pointer;
    text-decoration: none;
    color: white;
    margin-right: 10px;
    /* float: right; */
}

.logout, .dashLogout {
    float: right;
}

.outButton {
    border: none;
    color: white;
    display: inline;
    cursor: pointer;
    float: right;
    margin-right: 5px;
}

li .dashLink.active {
    background-color: #3E00E5;
}
