.hello {
    margin-top: 20px;
}

.start-entry-button {
    cursor: default;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 0px 2px #3E00E5;
    transition: box-shadow 0.6s linear;
    margin: 1em;
    font-size: 1em;
}

.start-entry-button:hover {
  box-shadow: 0px 0px 0px 7px #3E00E5;
}

.start-entry-button-link {
    text-decoration: none;
    color: black;
}

.start {
    border-bottom: 1px solid black;
}
