.hello {
    margin-top: 20px;
}

.start {
    border-bottom: 1px solid #0088D9;
}

.start-entry {
    margin-top: 40px;
    margin-bottom: 40px;
}
.start-entry-link {
    padding: 15px 25px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    color: #d95100;
    font-size: 1em;
    background-color: #e6f3fb;
    box-shadow: 0 9px #999;
}

.start-entry-link:hover {
    background-color: #a4d3f0;
}

.start-entry-link:active {
    background-color: #a4d3f0;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

@media screen and (min-width: 600px) {
.start-entry-link  {
    font-size: 2em;
  }
}
