.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #e6f3fb;
}

.choices {
  margin: 0 auto;
  padding: 0;
  text-align: left;
}

.exercises {
  list-style: none;
  width: 100px;
  margin: auto;
  padding: 10px;
}

.hide {
  display: none;
}

.fa-circle {
  padding-right: 10px;
}
