.logoForm {
  font-size: 2em;
  padding: 20px;
  font-family: 'Libre Baskerville', serif;
  border-bottom: 2px solid #0088D9;
}

#next-button, #prev-button {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 1em;
}

#next-button {
  margin-right: 40px;
}

#prev-button {
  margin-left: 40px;
}

@media screen and (min-width: 630px) {
  #next-button {
    margin-right: 200px;
    font-size: 1.5em;
  }
  #prev-button {
    margin-left: 200px;
    font-size: 1.5em;
  }
}

@media screen and (min-width: 910px) {
  #next-button {
    margin-right: 300px;
  }
  #prev-button {
    margin-left: 300px;
  }
}

@media screen and (min-width: 1350px) {
  .card {
    margin: 20px 400px;
  }
}
