.logoForm {
  font-size: 2em;
  padding: 20px;
  font-family: 'Libre Baskerville', serif;
  border-bottom: 2px solid #0088D9;
}

#next-button, #prev-button {
  padding: 10px;
  margin: 20px 60px;
  border: 1px solid black;
  border-radius: 10px;
}
