.history-header {
    border-bottom: 2px solid purple;
    font-family: 'Libre Baskerville', serif;
}

.historyHeader {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}

li {
    display: inline-block;
    margin-left: 50px;
}

.logo {
    font-size: 2em;
    padding-top: 20px;
}

.dashboardLink {
    text-decoration: none;
    color: black;
    padding-top: 20px;
    cursor: pointer;
}

.logout {
    float: right;
}
