.history-header {
    border-bottom: 2px solid black;
    margin: auto;
    background-color: #3E00E5;
    color: white;
}

.histLogo {
    font-family: 'Libre Baskerville', serif;
    max-width: 50%;
    font-size: 1.5em;
    float: left;
    margin-top: 15px;
}

.histLogout {
    max-width: 50%;
    float: right;
    margin-right: 5px;
}

.clearfix{
    clear:both
}

.historyHeader {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.histHomeLink, .histDashboardLink, .pipe {
    display: inline;
}

.histHomeLink, .histDashboardLink {
    cursor: pointer;
}

.homeLink, .dashboardLink {
    text-decoration: none;
    color: white;
    margin-left: 5px;
}
