.entries {
    margin: 0;
    padding: 0;

}

.entry {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    margin: 20px;
    display: block;
    background-color: #FFF0F2;
}
