.history-header {
    border-bottom: 2px solid pink;
    font-family: 'Libre Baskerville', serif;
}

.historyHeader {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
}

.logo {
    font-size: 2em;
    padding-top: 20px;
    margin: auto;
    display: block;
}

.dashboardLink {
    text-decoration: none;
    color: black;
    padding-top: 20px;
    margin: auto;
    display: block;
    cursor: pointer;
}
