.homeHeader {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.homeLogo {
  font-family: 'Libre Baskerville', serif;
  float: left;
  margin: 30px 10px;
  font-size: 2.5em;
}

.homeLogin {
  float: right;
  text-decoration: none;
  color: black;
  padding: 10px;
  margin: 35px 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.homeBody {
  margin-top: 30px;
  padding-top: 80px;
  height:1500px;
  max-width: 100%;
}

.section1 {
  padding-top: 20px;
  background-color: #0088D9;
  color: white;
  text-align: center;
}

.section2 {
  padding-top: 20px;
  background-color: #145ADD;
  color: white;
  text-align: center;
}

.section3 {
  padding-top: 20px;
  background-color: #292DE1;
  color: white;
  text-align: center;
}

.section4 {
  padding-top: 20px;
  background-color: #3E00E5;
  color: white;
  text-align: center;
}

.section5 {
  padding-top: 20px;
  background-color: white;
}

.sectionHeader {
  font-size: 2em;
  text-align: center;
  list-style-type: none;
  display: inline-block;
  padding: 0;
}

.sectionContent {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 20px;
  margin: 20px;
  background-color: #e6f3fb;
  color: black;
  font-size: 0.5em;
  min-width: 70%;
}

.homeFooter {
  padding: 10px;
}

.port {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

i#git.fa.fa-github-square {
  margin-right: 10px;
  color: #3E00E5;
}

i#linked.fa.fa-linkedin-square {
  color: #3E00E5;
}

.icons {
  font-size: .25em;
  text-decoration: none;
  color: black;
}
