/* .section1 {
  background-color: #3E00E5;
  height: 100%;
  color: white;
}

.section2 {
  background-color: #292DE1;
  height: 100%;
  color: white;
}

.section3 {
  background-color: #145ADD;
  height: 100%;
  color: white;
}

.section4 {
  background-color: #0088D9;
  height: 100%;
  color: white;
}

.section5 {
  background-color: white;
  height: 100%;
} */
