.homeHeader {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

.homeLogo {
  float: left;
  margin: 20px 10px;
  font-size: 3em;
}

.homeLogin {
  float: right;
  text-decoration: none;
  color: black;
  padding: 10px;
  margin: 35px 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.homeBody {
  margin-top: 30px;
  padding-top: 80px;
  height:1500px;
  max-width: 100%;
}

.section1 {
  padding-top: 20px;
  background-color: #0088D9;
  height: auto;
  color: white;
  text-align: center;
}

.sub1 {
  font-size: 2em;
  text-align: center;
  list-style-type: none;
  display: inline-block;
  padding: 0;
}

.firstText, .secondText, .thirdText {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  margin: 20px;
  background-color: #FFF0F2;
  color: black;
}

.section2 {
  padding-top: 20px;
  background-color: #145ADD;
  height: 100%;
  color: white;
  text-align: left;
}

.sub {
  font-size: 2em;
  text-align: center;
}

.section3 {
  padding-top: 20px;
  background-color: #292DE1;
  height: 100%;
  color: white;
  text-align: left;
}

.section4 {
  padding-top: 20px;
  background-color: #3E00E5;
  height: 100%;
  color: white;
  text-align: left;
}

.section5 {
  padding-top: 20px;
  background-color: white;
  height: auto;
}

.homeFooter {
  padding: 10px;
}

i#git.fa.fa-github-square {
  margin-left: 30px;
  margin-right: 30px;
  color: #0088D9;
}

i#linked.fa.fa-linkedin-square {
  margin-right: 30px;
  color: #0088D9;
}

.port {
  text-decoration: none;
  color: #0088D9;
}

.footer {
  display: none;
}
