.red {
  background-color: #FF0000;
}

.orange {
  background-color: #FF7700;
}

.yellow {
  background-color: #FFFF00;
}

.yellow-green {
  background-color: #99FF00;
}

.green {
  background-color: #00FF00;
}

.choices {
  margin-top: 3em;
  margin-bottom: 5em;
}

.red, .orange, .yellow, .yellow-green, .green {
  display: inline;
  padding: 1.5em;
}

.types {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 10px 0;
  justify-content: center;
}
