.notes {
    max-width: 80%;
    margin: 0 auto;
    padding: 10px;
}

textarea {
    width: 80%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
    font-size: 14px;
}

@media screen and (min-width: 600px) {
  textarea {
    height: 150px;
    font-size: 18px;
  }
  h1 {
    font-size: 2em;
  }
}

@media screen and (min-width: 900px) {
  .card {
    margin: 10px 200px;
  }
}
