.progress-bar {
  padding:0.01em 16px;

  margin: auto;
}

.progress-bar-gray {
  color:#000!important;background-color:#f1f1f1!important;
}

.round {
  border-radius:16px;
  width:100%;
}

.progress-bar-blue {
  color:#fff!important;background-color:#2196F3!important;
  width:100%;
}
