.notes {
    max-width: 80%;
    margin: 0 auto;
    padding: 10px;
}

textarea {
    width: 80%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
}
