.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #e6f3fb;
}

h1 {
  font-size: 1.5em;
}

.choices {
  text-align: left;
}

.sleeps {
  list-style: none;
  padding: 20px;
}

.hide {
  display: none;
}

label {
  font-size: 26px;
}

.fa-circle {
  padding-right: 10px;
  font-size: 30px;
}

input[type="radio"] + .fa-circle:before, input[type="radio"] + label > .fa-circle:before {
  content: "\f1db";
}

input[type="radio"]:checked + .fa-circle:before, input[type="radio"]:checked + label > .fa-circle:before {
  content: "\f111";
}

i#red.fa.fa-fw.fa-circle {color: hsl(0, 75%, 50%);}
i#orange.fa.fa-fw.fa-circle {color: hsl(33, 100%, 50%);}
i#yellow.fa.fa-fw.fa-circle {color: hsl(60, 100%, 50%);}
i#chartreuse.fa.fa-fw.fa-circle {color: hsl(90, 100%, 50%);}
i#green.fa.fa-fw.fa-circle {color: hsl(120, 75%, 35%);}

@media screen and (min-width: 600px) {
  .card {
    margin: 10px 80px;
  }
  h1 {
    font-size: 2em;
  }
}

@media screen and (min-width: 900px) {
  .card {
    margin: 10px 200px;
  }
}
